.content-title {
    background: color #FFFFFF;

}

.menu-list {
    margin: 0 auto;
    display: inline-block;
    color: #FF0000;
}
.menu-item {
    display: inline-block;
    margin-right: 72px;
}
.menu {
    text-align: center;
}
.nav-list {
width: 12000px;
height: 800px;
left: 100px;
top: 7800px;

}

.prew-text {
width: 774px;
height: 29px;
left: 25px;
top: 48px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
display: flex;
align-items: flex-end;
letter-spacing: 3.3px;
text-transform: uppercase;

color: #373737;

}

.text {
width: 1145px;
height: 132px;
left: 67.5px;
top: 115px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;
letter-spacing: 2.4px;

color: #373737;

}

.text1 {
    width: 1145px;
height: 216px;
left: 67.5px;
top: 275px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;
letter-spacing: 2.4px;

color: #373737;

}

.code-example {
    width: 191px;
height: 51px;
left: 544.5px;
top: 557px;

background: #FF0000;
border-radius: 4px;

}

.button {
color: #FFFFFF;

}